<footer>
  <section class="bg-footer fixed-bottom z-3 rounded-top-4">
    <div class="container position-relative">
      <div class="firby-ava-m">
        <div class="position-relative">
          <img
            src="../assets/images/furbyBot-ava-main.svg"
            class="rounded-circle border border-1 border-white dog-avatar-84"
            alt="頭像"
          />
        </div>
      </div>
      <div class="row justify-content-between mx-2">
        <div class="col-5">
          <div class="d-flex justify-content-center mt-2">
            <div class="text-center pt-2">
              <a href="#"
                ><img
                  class="img-fluid px-22"
                  src="../assets/images/index-button.svg"
                  alt="index-button"
              /></a>
              <p class="mb-0 fs-small">首頁</p>
            </div>
            <div class="text-center pt-2">
              <a href="./trend.html"
                ><img
                  class="img-fluid px-22"
                  src="../assets/images/analyze.svg"
                  alt="analyze"
              /></a>
              <p class="mb-0 fs-small">趨勢分析</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="d-flex justify-content-center mt-2">
            <div class="text-center pt-2">
              <a href="./calendar.html"
                ><img
                  class="img-fluid px-22"
                  src="../assets/images/date.svg"
                  alt="date"
              /></a>
              <p class="mb-0 fs-small">行事曆</p>
            </div>
            <div class="text-center pt-2">
              <a href="#"
                ><img
                  class="img-fluid px-22"
                  src="../assets/images/setting.svg"
                  alt="setting"
              /></a>
              <p class="mb-0 fs-small">設定</p>
            </div>
          </div>
        </div>
        <div class="ontouch rounded-3 mx-auto mt-3 mb-2"></div>
      </div>
    </div>
  </section>
</footer>
