
<header>
    <section class="header-bg">
        <div class="header-bg container fixed-top z-3 pb-1">
            <div class="row align-items-center justify-content-between px-2 pt-3">
                <div class="col-auto ps-5">
                    <time class="fw-bold ps-2" datetime="09:41">9:41</time>
                </div>
                <div class="col-auto d-flex gap-2 me-3">
                    <img class="status-icon" src="../assets/images/Cellular Connection.svg" alt="Cellular">
                    <img class="status-icon" src="../assets/images/Wifi.svg" alt="Wi-Fi">
                    <img class="status-icon" src="../assets/images/Battery.svg" alt="Battery">
                </div>
            </div>
        </div>
    </section>
</header>