.bg-footer {
  background-color: $white;
}

.px-22 {
  padding-right: 22px;
  padding-left: 22px;
}

.firby-ava-m {
  position: absolute;
  top: -35%;
  left: 39%;
  right: 35%;
}

.ontouch {
  width: 144px;
  height: 5px;
  background: transparent; /* 預設透明 */
  transition: background 0.3s ease;

  &:active {
    background: $black;
  }
}