.circle {
    position: absolute;
    top: -40px;
    left: 30px;

    width: 100px;
    height: 100px;
}

.small-circle {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 40px;
    height: 40px;
}
