.hero-gradient {
  background: linear-gradient(180deg, $orange-350 0%, $orange-100 50%, $green-500 100%);
}

.user-image {
  background-color: $white;
  padding: 1px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.brand-img {
  height: 112px;
}

.circle-trend {
  position: absolute;
  top: -34px;
  right: -53px;
  width: 100px;
  height: 100px;
}

.portion {
  position: absolute;
  top: 50%;
  left: 43%;
}
