<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>熱量消耗</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container hero-gradient">
      <div class="container d-flex justify-content-between align-items-center">
        <a
          href="./trend.html"
          class="d-block fs-6 lh-sm link-neutral-800 text-decoration-none"
          >返回</a
        >

        <h1 class="mb-0 fw-bold">熱量消耗</h1>
        <div>
          <img
            src="../assets/images/pet-avatar-dog.png"
            alt="Mica"
            style="height: 44px; width: 44px"
          />
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
