<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <section class="hero-gradient">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-10">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="text-decoration-none d-inline-block text-black fw-bold"
                                href="./personal.html">返回</a>
                            <h2 class="fs-4 fw-bold mb-0">體重</h2>
                            <div><img src="../assets/images/pet-avatar-greenFrame.png" style="width: 44px; height: 44px;" alt="">
                            </div> <!-- 佔位符保持標題居中 -->
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 d-flex justify-content-between bg-white rounded-3">
                        <div>
                            <p class="mb-0 fw-bold">目前</p>
                            <p class="mb-0 fs-8">測量日期：2025/07/26</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0 fw-bold fs-3">11.6<span class="fs-8">kg</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>

</body>

</html>